{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}


{% block content %}
<div class="container mt-3">
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>
            タイトル：{{item.title}}
        </p>
        <p>
            投稿者：
            <!-- ニックネームがある場合はそれを表示 -->
            {% if item.user.nickname %}
                <a href="{% url 'snsapp:profile' item.user.username %}">{{item.user.nickname}}</a>
            <!-- ない場合はユーザ名を表示 -->
            {% else %}
                <a href="{% url 'snsapp:profile' item.user.username %}">{{item.user.username}}</a>
            {% endif %}
            <!-- アイコン画像がある場合は表示 -->
            {% if item.user.image %}
            <img src="{{item.user.image.url}}" width="30" height="30">
            {% endif %}
        </p>
        <!-- <P>本文：{{item.content}}</P>
        {% if item.image %}
            <P>画像：{{item.image}}</P>
        {% endif %}
        {% if item.url %}
            <p>URL：{{item.url}}</p>
        {% endif %} -->

        <!-- 自分の投稿でない場合のみいいねボタンを表示 -->
        {% if request.user != item.user %}
            {% if request.user in item.like_users.all %}
            <a class="like-btn add-color" href="{% url 'snsapp:like-home' item.pk %}" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-heart-fill"></i></a>
            {% else %}
            <a class="like-btn" href="{% url 'snsapp:like-home' item.pk %}" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-heart-fill"></i></a>
            {% endif %}
        {% endif %}

        <a class="btn btn-primary" href="{% url 'snsapp:detail' item.pk %}" role="button">詳細</a>

        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">いいね {{item.like_users.count}}</button>
        <ul class="dropdown-menu">
            <!-- いいねしたユーザが１人でもいる場合 -->
            {% if item.like_users.all %}
                <!-- 全員の名前を表示 -->
                {% for user in item.like_users.all %}
                <li><a class="dropdown-item" href="#">{{user.username}}</a></li>
                {% endfor %}
            <!-- いいねしたユーザが１人もいない場合 -->
            {% else %}
                <li><a class="dropdown-item">いいねした人はいません</a></li>
            {% endif %}
        </ul>

        {% if item.user in connection.0.following.all %}
            <a class="btn btn-success" href="{% url 'snsapp:follow-home' item.pk %}" role="button">フォロー解除</a>
        {% else %}
            <a class="btn btn-success" href="{% url 'snsapp:follow-home' item.pk %}" role="button">フォロー</a>
        {% endif %}

    </div>
    {% endfor %}
</div>
{% endblock content %}