{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}


{% block content %}
<div class="container mt-3">
    <div class="alert alert-success" role="alert">
        {% for user in object_list %}
            <p>
                ニックネーム：
                {% if user.nickname %}
                    {{user.nickname}}
                {% else %}
                    guest user
                {% endif %}
            </p>
            <p>
                アイコン：
                {% if user.image %}
                    <img src="{{user.image.url}}" width="30" height="30">
                {% else %}
                    登録されていません．
                {% endif %}
            </p>
            <p>
                自己紹介：
                {% if user.introduction %}
                    {{user.introduction | linebreaksbr}}
                {% else %}
                    よろしくお願いします．
                {% endif %}
            </p>
            <p>
                URL：
                {% if user.url %}
                    <a href="{{user.url}}">{{user.url}}</a>
                {% else %}
                    登録されていません．
                {% endif %}
            </p>

            {% if user == request.user %}
            <a class="btn btn-primary" href="{% url 'snsapp:profile-update' request.user.pk %}" role="button">編集</a>
            {% else %}
                {% if user in connection.0.following.all %}
                    <a class="btn btn-success" href="{% url 'snsapp:follow-profile' user.username %}" role="button">フォロー解除</a>
                {% else %}
                    <a class="btn btn-success" href="{% url 'snsapp:follow-profile' user.username %}" role="button">フォロー</a>
                {% endif %}
            {% endif %}
        {% endfor %}

    </div>
</div>

<div class="container mt-3" role="alert">
    {% for post in posts %}
    <div class="alert alert-success" role="alert">
        <p>
            タイトル：{{post.title}}
        </p>
        <p>
            投稿者：
            <!-- ニックネームがある場合はそれを表示 -->
            {% if post.user.nickname %}
                {{post.user.nickname}}
            <!-- ない場合はユーザ名を表示 -->
            {% else %}
                {{post.user.username}}
            {% endif %}
            <!-- アイコン画像がある場合は表示 -->
            {% if post.user.image %}
            <img src="{{post.user.image.url}}" width="30" height="30">
            {% endif %}
        </p>

        {% if request.user != post.user %}
            {% if request.user in post.like_users.all %}
            <a class="like-btn add-color" href="{% url 'snsapp:like-profile' post.pk %}" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-heart-fill"></i></a>
            {% else %}
            <a class="like-btn" href="{% url 'snsapp:like-profile' post.pk %}" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-heart-fill"></i></a>
            {% endif %}
        {% endif %}

        <a class="btn btn-primary" href="{% url 'snsapp:detail' post.pk %}" role="button">詳細</a>

        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">いいね {{post.like_users.count}}</button>
        <ul class="dropdown-menu">
            <!-- いいねしたユーザが１人でもいる場合 -->
            {% if post.like_users.all %}
                <!-- 全員の名前を表示 -->
                {% for user in post.like_users.all %}
                <li><a class="dropdown-item" href="#">{{user.username}}</a></li>
                {% endfor %}
            <!-- いいねしたユーザが１人もいない場合 -->
            {% else %}
                <li><a class="dropdown-item">いいねした人はいません</a></li>
            {% endif %}
        </ul>
    </div>
    {% endfor %}

</div>

{% endblock content %}