{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}


{% block content %}
<div class="container mt-3">
    <div class="alert alert-success" role="alert">
        {% for user in object_list %}
            <p>ニックネーム：{{user.nickname}}</p>
            <p>アイコン：{{user.image}}</p>
            <p>自己紹介：{{user.introduction}}</p>
            <p>URL：{{user.url}}</p>

            {% if user == request.user %}
            <a class="btn btn-primary" href="{% url 'snsapp:profile-update' request.user.pk %}" role="button">編集</a>
            {% else %}
                {% if user in connection.0.following.all %}
                    <a class="btn btn-success" href="{% url 'snsapp:follow-profile' user.username %}" role="button">フォロー解除</a>
                {% else %}
                    <a class="btn btn-success" href="{% url 'snsapp:follow-profile' user.username %}" role="button">フォロー</a>
                {% endif %}
            {% endif %}

        {% endfor %}

    </div>
</div>
{% endblock content %}